
*{
    margin: 0; /*réinitialisation de la marge de la page à 0*/
}
h1{
    font-size: 3.5em;
    color:#A5B4FC;
    font-family:'montserrat',sans-serif;
    text-align: center;
}
h2{
    text-align: center;
}
p{
    font-size:1.1em;
    font-family:'monrope',sans-serif;
    margin: 30px;
    text-align: justify;
}
ul{
    font-size: 1em;
    font-family:'monrope',sans-serif;
    margin: 30px;
}
a{
    text-decoration:none;
    font-size: 1em;
    font-family:'monrope',sans-serif;
    color:#242424
}
body{
    background-color: #1F2039;
    color: #F9F8FF;
    margin: auto;
}
.paragraph_list{
    border-right:1px solid #8e86b5;
    border-bottom: 1px solid#8e86b5;
    padding: 20px;
    margin-bottom: 50px; 
}
a:hover{
    text-decoration: underline;
}
.classe .classe1:hover{
    background: linear-gradient(#696484 #8788BA);
    text-decoration: none;
    opacity: 0.5;
}
.icon-link:hover{
    opacity: 0.5;
}
header,footer{
    padding:20px 50px;
    background-color: white;
}
section{
    padding: 80px;
}
.link{
    display: flex;
    justify-content: right;
    gap: 10px;
}
caption{
    padding-bottom: 100px;
    font-weight: bold;
}
table{
    border-collapse:collapse;
    margin: auto;
    font-size: x-large;
    font-family: monrope sans-serif;
}
td{
    border: 1px solid #a5b4fc;
    padding: 75px;
    text-align: center;
    font-size: 16px;
    width: 500px;
    height: 50px;
}
th{
    border: 1px solid #a5b4fc;
    padding: 15px;
    text-align: center;
    font-size: 16px;
}
.about{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
.classe{
    display: flex;
    margin-bottom: 10px;
}
.classe1{
    background:linear-gradient(#8E86B5,#ACAEED);
    font-family: 'montserrat',sans-serif;
    color:white;
    border-radius: 50px;
    padding: 20px 20px;
    margin: auto;
   }
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer .foot{
    display: flex;
    gap: 30px;
}
@media screen and (max-width:996px) {
    .rates{
        display: none;
    }
    nav{
        flex-direction: column;
        width: auto;
    }
    .about{
        flex-direction: column;
        padding: 20px 20px;
        width: 50%;
    }
    .about h1{
        font-size: 2em;
    }
    .classe{
        margin-top: 20px;
    }
    div .classe{
        justify-content: center;
        align-items: center;
    }
    footer div{
        display: flex;
        flex-direction: row;
    }
    
}
